@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* scrollbar modification */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 2px solid rgb(98, 97, 97);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgb(98, 97, 97);
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.video-container {
  background: url("../images/virus.webp") center no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  z-index: 5;
  color: #f4f4f4;
  letter-spacing: 1px;
}

.content h1 {
  font-size: 35px;
  letter-spacing: 2px;
}

.content p {
  padding: 10px 20px;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* styling the input for search*/

.search {
  padding: 10px 90px 10px 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid grey;
  box-shadow: none;
  font-size: 18px;
  color: #f4f4f4;
  background: rgba(0, 0, 0, 0.75);
  font-family: "lato", sans-serif;
}

form {
  width: 100%;
}

.form-inputs-container {
  position: relative;
}

::placeholder {
  font-family: "poppins", sans-serif !important;
  font-weight: 400 !important;
}

.search:focus,
.search:active {
  outline: none;
}

form .form-btn {
  letter-spacing: 1px;
  position: absolute;
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  color: #222;
  background-color: rgb(122, 120, 120);
  transition: background;
  transition-duration: 0.5s;
  top: 3px;
  right: 3px;
  padding: 10px 23px;
  outline: none;
}

form .form-btn:hover {
  letter-spacing: 0px;
  color: #000;
  font-weight: 600;
  background: rgba(138, 136, 136, 0.534);
  cursor: pointer;
}

/* countries List style... */

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 330px;
  backdrop-filter: blur(5px);
}
.select select {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  background-color: rgba(219, 217, 217, 0.418);
  color: #222;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover {
  color: #000;
  background-color: rgba(179, 175, 175, 0.418);
}

.select-container {
  max-height: 50px;
}

.select select:focus {
  color: #000;
  backdrop-filter: blur(5px);
  border-radius: 0;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow {
  border-top-color: #000;
}

.select select:focus ~ .select__arrow {
  border-top-color: transparent;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.select-text {
  margin: 25px 0 0 0;
}

select::-webkit-scrollbar {
  width: 7px;
}

/* home content styles... */

.home-content {
  background: #c8c7c7;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.home-page-box {
  font-family: "open sans", sans-serif;
  text-align: center;
  height: auto;
  min-width: 300px;
  margin: 20px;
  display: block;
  top: 0px;
  position: relative;
  background-color: #cfd4d4;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.home-page-box h2 {
  font-weight: 300;
  background: #acacac;
  margin: 0 0 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 15px;
}

.home-page-box p {
  letter-spacing: 1px;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

.home-page-box:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: rgb(235, 235, 235);
}

/* image section style.... */

.images-section {
  padding: 30px 0;
  min-height: 100vh;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.images-container {
  padding: 50px 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  grid-gap: 15px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.images-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffeead;
}

.images-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.images-btn {
  color: #cecccc;
  border: 1px solid #cecccc;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 35px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

.images-btn:hover {
  border: 1px solid #222;
  color: #f4f4f4;
  background: #222;
}

/* about section styles */

footer {
  background-color: #111;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #7b7b83;
  margin: 0 13px;
  transition: color 0.7s ease;
}

footer a:hover {
  color: aliceblue;
}

.fa-github {
  margin: 10px 0;
}

@keyframes rot-animation {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
}

.fa-github:hover {
  animation: rot-animation 1s linear forwards;
  color: aliceblue;
}

.copyright {
  color: #7b7b83;
}
.fa {
  color: #7b7b83;
}
.tags {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

/************************* media queries *********************************/

@media screen and (max-width: 1290px) {
  .images-container {
    width: 95%;
  }
}

@media screen and (max-width: 1140px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 208px;
  }
}

@media screen and (max-width: 980px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 183px;
    padding: 50px 25px;
  }
}

@media screen and (max-width: 850px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 167px;
  }
}

@media screen and (max-width: 790px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: 130px;
  }
}

@media screen and (max-width: 800px) {
  .home-content {
    flex-direction: column;
  }
  .home-page-box {
    width: 70%;
    margin: 20px;
  }
}

@media screen and (max-width: 685px) {
  .images-container {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  .images-container img {
    margin: 6px 0;
  }
  #hidden {
    height: 0;
  }
  footer {
    flex-direction: column;
    align-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .images-container {
    padding: 40px 15px;
  }
  .home-page-box h2 {
    font-size: 20px;
  }
  .home-page-box p {
    font-size: 24px;
  }
  .form-inputs-container {
    margin: auto;
    width: 350px;
    font-size: 17px;
  }
}

@media screen and (max-width: 485px) {
  .content h1 {
    font-size: 28px;
  }
  .content p {
    padding: 10px 15px;
    font-size: 15px;
  }
  .search {
    font-size: 15px;
  }
  form .form-btn {
    font-size: 12px;
  }
  .select {
    width: 220px;
  }
}

@media screen and (max-width: 400px) {
  .images-container {
    padding: 35px 10px;
  }
}
