<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <!-- font awesome cdn -->
    <script src="https://kit.fontawesome.com/589c2a6ba2.js" crossorigin="anonymous"></script>
    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Custom css Link -->
    <link rel="stylesheet" href="/css/starting.css" />
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>

<body>