<script src="/js/table.js"></script>
<script src="/js/worldTotalChart.js"></script>
<script src="/js/worldDeathsChart.js"></script>
<script src="/js/worldRecoveredChart.js"></script>
<!-- default theme -->
</body>

</html>