<footer class="footer">
    <div class="copyright">
      <p>© 2020 All Rights Reserved</p>
    </div>
    <div class="icon-container">
      <a href="https://github.com/Silvanus21">
        <i class="fa fa-github" style="font-size: 36px"></i>
      </a>
    </div>
    <div class="tags" id="symbl">
      <a href="/">Home</a>
      <!-- <a href="">About</a> -->
      <a href="/getInTouch">Contact</a>
    </div>
</footer>

<script src="/js/table.js"></script>
<script src="/js/worldTotalChart.js"></script>
<script src="/js/worldDeathsChart.js"></script>
<script src="/js/worldRecoveredChart.js"></script>
<!-- default theme -->
</body>

</html>