<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries Overview</title>
    <!-- font awesome cdn -->
    <script src="https://kit.fontawesome.com/589c2a6ba2.js" crossorigin="anonymous"></script>
    <!-- highcharts cdn -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/resultGraph-min.css">
</head>

<body>