<%- include("./partials/overviewHeader") %> 

    <div class="big-container">
        <div class="inner-container">
            <h2>
                Tabular Overview of COVID'19 for all Countries
            </h2>
            <div class="container">
                <div id="example-table" class="celled overview-table"></div>
            </div>
        </div>
    </div>

    <div class="charts-container">
        <h2> Graphical Overview </h2>
        <figure class="chart-container">
            <div id="container-one"></div>
        </figure>

        <figure class="chart-container">
            <div id="container-two"></div>
        </figure>

        <figure class="chart-container">
            <div id="container-three"></div>
        </figure>
    </div>

    <%- include("./partials/overviewFooter") %> 