<div class="images-section">
    <div class="images-container">
      <div class="img" id="hidden">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid11.webp?alt=media&token=5537c3f8-e381-48e2-a70a-8725b10f28e1" alt="covid-images" />
      </div>
      <div class="img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid1.webp?alt=media&token=37509b9c-02fe-4478-8f09-2d9a3b4be9b2" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid10.webp?alt=media&token=297a2b89-3852-439b-a612-ba20170d5d8c" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid2.webp?alt=media&token=6ffe7625-1bcf-48bc-9679-3af9d504db39" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid3.webp?alt=media&token=c1562f27-8f54-4f73-89e4-3f42cf8e7e58" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid5.webp?alt=media&token=0d153b39-826f-42b4-a93f-c4ddc3e5d0c3" alt="covid-images" />
      </div>
      <div class="big img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid6.webp?alt=media&token=13c88789-10b1-4505-96fe-6857485a2685" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid7.webp?alt=media&token=98473bee-292f-436b-8d2c-9bd3c5213cb0" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid8.webp?alt=media&token=fe3f6020-74ea-48ed-b836-d05e2809e1d2" alt="covid-images" />
      </div>
      <div class="vertical img">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid4.webp?alt=media&token=cb72b7c6-240e-4135-8946-2e6298b89058" alt="covid-images" />
      </div>
      <div class="img" id="hidden">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/covid9.webp?alt=media&token=3c47aad4-1768-4286-bfed-8ef595e52b75" alt="covid-images" />
      </div>
    </div>
    <!-- <a href="#" class="images-btn"> Load more Photos </a> -->
  </div>