<%- include("partials/resultGraphHeader") %>

<h2> Graphical Overview for <%= countryName %></h2>

<div class="charts-container">
    <figure class="chart-container">
        <div id="container-one"></div>
    </figure>

    <figure class="chart-container">
        <div id="container-two"></div>
    </figure>

    <figure class="chart-container">
        <div id="container-three"></div>
    </figure>
</div>

<h4>More contents to be added soon...</h4>

<%- include("partials/resultGraphFooter") %>