@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
  box-sizing: border-box;
}

html,
body {
  font-family: "open sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  user-select: none;
  background-color: #333;
}

html {
  scroll-behavior: smooth;
}

h3{
  margin: 20px 0;
  color:#000;
  font-weight: 500;
  letter-spacing: 1px;  
  font-size: 30px;
}

.main-container {
  margin: 0 auto;
  width: 1150px;
}

label,
input,
textarea {
  color: #4b5156;
}

.submit-btn:active {
  opacity: 0.85;
}

.submit-btn:active {
  opacity: 0.5;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #c1c1c1;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 2px solid #c1c1c1;
}

/* contact section */

.contact-form {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #eaeaea;
  max-width: 600px;
}

.input-field {
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}

textarea {
  transition: 0s;
  max-width:100%;
  min-width: 90%;
  min-height: 100px;
}

.input-field:focus {
  outline: none;
  border: 1px solid #888888;
}

.contact-form label {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 2.5rem;
  font-weight: 600;
}

.submit-btn {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #333;
  border: none;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #222;
}

.submit-btn:focus {
  outline: none;
}

/* home button styles.. */

.home-btn{
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(170, 168, 168);
  padding: 5px 15px;
  outline: none;
  background: transparent;
  border: 1px solid rgb(170, 168, 168);
  transition: all 0.4s ease;
}

.home-btn:hover{
  letter-spacing: 0px;
  color: aliceblue;
  background-color: aliceblue;
  color: rgb(36, 3, 3);
}

/* media queries... */

@media screen and (max-width: 1200px) {
  .main-container {
    width: 80%;
  }
}


@media screen and (max-width: 800px) {
  .contact-form{
    padding: 8px;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 23px;
  }
}
