@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Loading page */

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #d0d0d1;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(41, 40, 40);
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(41, 40, 40);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* scrollbar modification */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 2px solid rgb(98, 97, 97);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgb(98, 97, 97);
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.video-container {
  background: url("../images/virus.webp") center no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  z-index: 5;
  color: #f4f4f4;
  letter-spacing: 1px;
}

.content h1 {
  font-size: 35px;
  letter-spacing: 2px;
}

.content p {
  padding: 10px 20px;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* styling the input for search*/

.search {
  padding: 10px 90px 10px 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid grey;
  box-shadow: none;
  font-size: 18px;
  color: #f4f4f4;
  background: rgba(0, 0, 0, 0.75);
  font-family: "lato", sans-serif;
}

form {
  width: 100%;
}

.form-inputs-container {
  position: relative;
}

::placeholder {
  font-family: "poppins", sans-serif !important;
  font-weight: 400 !important;
}

.search:focus,
.search:active {
  outline: none;
}

form .form-btn {
  letter-spacing: 1px;
  position: absolute;
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  color: #222;
  background-color: rgb(122, 120, 120);
  transition: background;
  transition-duration: 0.3s;
  top: 3px;
  right: 3px;
  padding: 10px 23px;
  outline: none;
  font-weight: 600;
}

form .form-btn:hover {
  letter-spacing: 1px;
  color: #000;
  background: rgba(138, 136, 136, 0.534);
  cursor: pointer;
}

/* countries List style... */

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 330px;
  backdrop-filter: blur(5px);
}
.select select {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  background-color: rgba(219, 217, 217, 0.418);
  color: #222;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover {
  color: #000;
  background-color: rgba(179, 175, 175, 0.418);
}

.select-container {
  max-height: 50px;
}

.select select:focus {
  color: #000;
  backdrop-filter: blur(5px);
  border-radius: 0;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow {
  border-top-color: #000;
}

.select select:focus ~ .select__arrow {
  border-top-color: transparent;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.select-text {
  margin: 25px 0 0 0;
}

select::-webkit-scrollbar {
  width: 7px;
}

/* home content styles... */

.home-content {
  background: #ebebeb;
  width: 100%;
  min-height: 260px;
  display: flex;
  justify-content: center;
}

.home-box-content{
  position: relative;
  border-radius: 20px;
  margin: 3px;
}

.bg1 {
  background: #222;
  color: #cecccc;
}

.home-box h1 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 37px;
  margin: 6px;
}

.home-box h1 span {
  letter-spacing: 1px;
  font-size: 27px;
}

.home-box {
  font-family: "noto sans jp", sans-serif;
  margin: auto;
  width: 95%;
  display: grid;
  grid-gap: 0.6vh;
  grid-template-rows: 1fr;
  grid-template-areas:
    "block-1 block-1 block-2 block-3";
}

.home-box .info {
  min-height: 24.44vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

/* style for block-1 */
.block-1 {
  background: url("https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/Webp.net-resizeimage.webp?alt=media&token=c7ab8f71-1101-435b-9c95-eb98d5015617");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: block-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #222;
}
.block-1 *, .block-3 *{
  z-index: 100;
}
.block-1::after, .block-3::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.287);
}
.block-3::after{
  background: #222;
  transition: all 0.5s ease;
}
.block-1 h1 span {
  color: #34751a;
}
/* style for block-2 */
.block-2 {
  grid-area: block-2;
}
.block-2 h1 {
  color: #7e8b9f;
}
/* style for block-3 */
.block-3 {
  grid-area: block-3;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  background: url("https://firebasestorage.googleapis.com/v0/b/covid-19-tracker-c20a2.appspot.com/o/Webp.net-resizeimage.webp?alt=media&token=c7ab8f71-1101-435b-9c95-eb98d5015617");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-3:hover{
  color: #222;
}
.block-3:hover::after{
  background-color: rgba(0, 0, 0, 0.287);
}

/* footer section styles */

#HOME{
  cursor: pointer;
}

footer {
  background-color: #111;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #7b7b83;
  margin: 0 13px;
  transition: color 0.7s ease;
}

footer a:hover {
  color: aliceblue;
}

.fa-github {
  margin: 10px 0;
}

@keyframes rot-animation {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
}

.fa-github:hover {
  cursor: auto;
  animation: rot-animation 0.4s linear forwards;
  color: aliceblue;
}

.copyright {
  color: #7b7b83;
}
.fa {
  color: #7b7b83;
}
.tags {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
} 

/************************* media queries *********************************/

@media screen and (max-width: 1000px) {
  .home-box {
    grid-template-rows: auto;
    grid-template-areas:
      "block-1 block-1"
      "block-2 block-3";
  }
  .home-content{
    padding: 20px 0;
  }
}

@media screen and (max-width: 790px) {
  .home-box h1 {
    font-weight: 400;
    font-size: 28px;
    margin: 5px;
  }
  .home-box .block-1 h1 span {
    font-size: 21px;
  }
}

@media screen and (max-width: 800px) {
  .home-page-box {
    width: 70%;
    margin: 20px;
  }
}

@media screen and (max-width: 685px) {
  #hidden {
    height: 0;
  }
  footer {
    flex-direction: column;
    align-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .home-page-box h2 {
    font-size: 20px;
  }
  .home-page-box p {
    font-size: 24px;
  }
  .form-inputs-container {
    margin: auto;
    width: 350px;
    font-size: 17px;
  }
}

@media screen and (max-width: 485px) {
  .content h1 {
    font-size: 28px;
  }
  .content p {
    padding: 10px 15px;
    font-size: 15px;
  }
  .search {
    font-size: 15px;
  }
  form .form-btn {
    font-size: 12px;
  }
  .select {
    width: 220px;
  }
  .block-1{
    flex-direction: column;
  }
  .home-box .block-1 h1{
    margin: 15px 0 0;
  }
  .block-1 .info{
    min-height: auto !important;
  }

}

@media screen and (max-width: 400px) {
  .home-box h1 {
    font-weight: 400;
    font-size: 25px;
    margin: 5px;
  }
  .block-1 h1 span {
    font-size: 18px;
  }
}
