@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  user-select: none;
}

body {
  background: #292828;
  font-family: "open sans", sans-serif;
  margin: 0;
  padding: 0;
}

.big-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

h2 {
  letter-spacing: 1px;
  color: rgb(61, 61, 61);
}

.charts-container h2{
  color: #d3d3d3;
  margin-bottom: 0;
}

.inner-container {
  height: 90%;
  width: 95%;
  padding: 0 15px 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d3d3d3;
}

.container {
  width: 100%;
  height: 85%;
}

.overview-table ::-webkit-scrollbar {
  width: 0px;
  height: 13px;
}
.overview-table ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
.overview-table ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: grey;
  border: 2px solid #f4f4f4;
}

.charts-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  margin: 60px 0;
  width: 75%;
  max-width: 75%;
  height: 420px;
  max-height: 420px;
  touch-action: none;
}

.chart-container:nth-child(4) {
  margin-bottom: 50px;
}

#container-one,
#container-two,
#container-three {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
::-webkit-scrollbar-track {
  background-color: #222121;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: grey;
  border: 2px solid #222121;
}

/* footer section css */

footer {
  background-color: #111;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #7b7b83;
  margin: 0 13px;
  transition: color 0.7s ease;
}

footer a:hover {
  color: aliceblue;
}

.fa-github {
  margin: 10px 0;
}

@keyframes rot-animation {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
}

.fa-github:hover {
  cursor: auto;
  animation: rot-animation 0.4s linear forwards;
  color: aliceblue;
}

.copyright {
  color: #7b7b83;
}
.fa {
  color: #7b7b83;
}
.tags {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

/* media queries.... */

@media screen and (max-width: 1000px) {
  .chart-container {
    width: 90%;
    max-width: 90%;
    height: 400px;
    max-height: 400px;
  }
}


@media screen and (max-width: 685px){
  footer {
    flex-direction: column;
    align-content: space-around;
  }
}


@media screen and (max-width: 620px) {
  .chart-container {
    width: 95%;
    max-width: 95%;
    height: 400px;
    max-height: 400px;
  }
}
